body {
  margin: 0;
  background: #fff;
  font-family: Ariel, Helvetica;
  font-size: small;
  color: #222;
}

div#logo {
  margin-top: 89px;
  text-align: center;
  height: 120px;
}

div#navbar {
  height: 40px;
  line-height: 40px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
}

div#navbar a {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 15px;
  color: #666;
}

.ctr {
  margin: auto 0;
}

div#searchbar {
  width: 400px;
  margin: 0 auto;
}

input {
  width: 400px;
  height: 30px;
  margin-bottom: 10px;
  box-shadow: 1px 2px #ccc;
}

div#buttons {
  padding: 10px;
  width: 260px;
  margin: 0 auto;
}

button {
  color: #444;
  padding: 5px 15px;
}
